*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
li{
    list-style: none;
}
.wrapper{
    max-width:940px;
    margin: 0 auto;
}
.head{
    background: #ffd400;
    display:flex;
    justify-content: center;
    align-items:center;
}
.name{
    border: 1px solid #000;
    margin: 70px;
    position: relative;
}
.name h1{
    padding: 15px;
}
.name .pro{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffd400;
    padding: 0 8px;
}
.main{
    display: flex;
    flex-wrap:nowrap;
}
.main>.side{
    width: 40%;
   border-right:1px solid #bcbcbc;
   border-left:1px solid #bcbcbc;
    padding: 20px 20px;
    word-break: break-all;
    background: #f7f7f7;
}
.main>.side .avatar{
    text-align:center;
}
.main>.content{
    width: 60%;
    border: 1px solid #000;
    padding: 20px 20px;
    word-break: break-all;
}
.main>.side img{
    width: 150px;
    height: 150px;
    border-radius:50%;
}
.main>.side .profile,.main>.side .personal,.main>.side .contact,
.main>.content .edu,.main>.side .experience,.main>.content .skill{
    margin: 30px;

}
.main>.side .profile p{
    text-indent: 2em;
    line-height: 25px;
    font-size:14px;
}

.main .title{
    margin-bottom: 20px;
}
.main .title>.line{
    margin-top: 10px;
    width: 40px;
    height: 2px;
    background: #bcbcbc;
}
.main>.side li{
    line-height: 30px;
    border-bottom: 1px solid #bcbcbc;
    position: relative;
    color: #7a7a7a;
}
.main>.side span.info{
    font-weight: bold;
    left: 5em;
    font-size:14px;
    position: absolute;
    display: inline-block;
    color: #000;
}
.main>.content .edu-con{
    display: inline-flex;
}
.main>.content .edu>.edu-con .line2{
    width: 1px;
    background:#bcbcbc;
    margin: 0 2em;
}
.main>.content .edu>.edu-con li{

    color: #7a7a7a;
}
.main>.content  p,.side .experience p{
    line-height: 30px;
    color: #000;
    font-weight: bold;
    font-size:14px;
}
.main>.side .line3{
    height: 1px;
    background: #bcbcbc;
    margin: 10px 0;
}
.main>.side span.date{
    display:inline-block;
    font-style: italic;
    color:#7a7a7a;
    font-size:12px;
    font-weight: normal;
    padding-left: 1em;
}
.main>.content .skill li:nth-child(even){
    margin-left: 40px;
}
.main>.content .skill .bar,.main>.content .skill .skill-bar{
    width: 200px;
    height: 5px;
    border-radius: 5px;
}
.main>.content .skill .bar{
    background: #fff6cc;
    position: relative;
    margin-bottom: 10px;
}
.main>.content .skill .skill-bar{
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background: #ffd600;
}