*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.icon {
    width: 2.5em; height: 2.5em;
    vertical-align: middle;
    fill: #646464;
    overflow: hidden;
}
li{
    list-style: none;
}
a{
   text-decoration: none;
    color: #c9a100;
}
a:hover{
    color: #9e7f00;
}
.wrapper{
    max-width:940px;
    margin: 0 auto;
}
.head{
    background: #ffd400;
    display:flex;
    justify-content: center;
    align-items:center;
}
.name{
    border: 1px solid #000;
    margin: 30px;
    position: relative;
}
.name h1{
    padding: 20px 40px;
}
.name .pro{
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform:translate(-50%,-50%);
    background: #ffd400;
    padding: 0 8px;
}
.main{
    display: flex;
    flex-wrap:nowrap;
}
.main>.side{
    width: 40%;
   border-right:1px solid #bcbcbc;
   border-left:1px solid #bcbcbc;
    padding: 20px 20px;
    word-break: break-all;
    background: #f7f7f7;
}
.main>.side .avatar{
    text-align:center;
}
.main>.content{
    width: 60%;
    padding: 20px 20px;
    word-break: break-all;
}
.main>.side img{
    width: 150px;
    height: 150px;
    border-radius:50%;
    background-size: cover;
}
.main>.side .profile,.main>.side .personal,.main>.side .contact,
.main>.content .edu,.main>.content .experience,.main>.content .skill,
.main>.side .project,.main>.content .about{
    margin: 30px;

}

.main>.side .profile p{
    text-indent: 2em;
    line-height: 20px;
    font-size:14px;

}
.main>.side .contact_info{
    display: grid;
    grid-template-columns:25% 75%;
    grid-template-areas:'.contact_name .contact_con' ;
    font-size:14px;
    line-height: 35px;
}
.main>.side .contact_con{
    font-weight: bold;
    color: #000;
}
.main>.content .about .aboutMe{
    line-height: 20px;
    font-size:14px;
    display:grid;
    grid-template-columns: 5% 95%;
    grid-template-areas: '.index .aboutMe-con';
}
.main .title{
    margin-bottom: 20px;
}
.main .title>.line{
    margin-top: 10px;
    width: 40px;
    height: 2px;
    background: #bcbcbc;
}
.main>.side li{
    line-height: 30px;
    border-bottom: 1px solid #bcbcbc;
    position: relative;
    color: #7a7a7a;
}
.main>.side span.info{
    font-weight: bold;
    left: 5em;
    font-size:14px;
    position: absolute;
    display: inline-block;
    color: #000;
}
.main>.content .edu-con{
    display: inline-flex;
}
.main>.content .edu>.edu-con .line2{
    width: 1px;
    background:#bcbcbc;
    margin: 0 2em;
}
.main>.content .edu>.edu-con li{

    color: #7a7a7a;
}
.main>.content  p{
    line-height: 30px;
    color: #000;
    font-weight: bold;
    font-size:14px;
}
.main>.content .line3,.main>.side .line3{
    height: 1px;
    background: #bcbcbc;
    margin: 15px 0;
}
.main>.content span.date{
    display:inline-block;
    font-style: italic;
    color:#7a7a7a;
    font-size:12px;
    font-weight: normal;
    padding-left: 1em;
}
.main>.content .skill li:nth-child(even){
    margin-left: 40px;
}
.main>.content .skill .bar,.main>.content .skill .skill-bar{
    width: 200px;
    height: 5px;
    border-radius: 5px;
}
.main>.content .skill .bar{
    background: #fff6cc;
    position: relative;
    margin-bottom: 10px;
}
.main>.content .skill .skill-bar{
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background: #ffd600;
}
.main>.side .project h4,.main>.side .project h5{
    color:#000;
}
.main>.side .project p{
    text-indent: 1em;
    font-size: 14px;
    line-height: 20px;
}
.main>.side .project li{
    border-bottom:none;
    position: relative;

}
.main>.content .display{
    width: 100%;
    padding-top: 50px;
}

.main>.content>.display .show2,.main>.content>.display .show1{
    display: inline-flex;
    width: 100%;
    border-top:2px solid #ffd600;
}
.main>.content>.display  .gulu,.main>.content>.display  .blog{
    width: 50%;
   margin: 5px;
    position: relative;
}
.main>.content>.display .dot,.main>.side>.project span.dot2{
    text-align: center;
    width: 30px;
    line-height: 30px;
    background: #ffd600;
    border-radius:50%;
    color: #4a4a4a;
    position: absolute;
    font-weight: bold;
}
.main>.content>.display .dot{
    right: 15px;
    bottom: 15px;
}
.main>.side>.project h4.kkk{
    padding-left: 3em;
}
.main>.side>.project span.black,.main>.content>.about span.sideBlack{
    color: #000000;
    font-weight: bold;
}
.main>.content>.display  .blog{
    width: 100%;
}
.main>.content>.display img{
    width: 100%;
    background-size: cover;
}
#resume{
    display:none
}
@media print{
    #resume{
        display:grid
    }
    .main>.print-side,.main>.print-content
    {
        padding: 100px 15px;
    }
    .main>.print-side{
        /*height: 100%;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .main>.side .print-item,.main>.content .print-item{
        margin:25px 0;
    }
    .main .title>.print-line{
        margin-top: 10px;
    }
    .main .print-title{
        margin-bottom: 5px;
    }
    .print-wrapper{
        height: 1122px;
        /*height: 100%;*/
    }
    .main>.side .profile p.print-line-height,
    .main>.content .aboutMe.print-line-height{
        line-height: 30px;
    }
    .head.print-other{
        display:none;
    }
    .main>.content>.display li.print-show{
        margin-top: 50px;
        box-shadow:3px 3px 1px 1px rgba(255, 212, 0, 0.8);
        border-top:none;
    }
    .main>.side.print-side2{
        padding: 5px 15px;
    }
    .main>.side .project li.print-translate{
        padding-top: 80px;
    }
}